$bootstrap-blue: #337ab7;
$lighter-blue: #b3cce2;
$bootstrap-gray: #eee;

p {
  font-size: 16px;
  font-weight: 300;
}

.main-navigation {
  .navbar-brand {
    color: white;
    font-size: 20px;
  }
  .navbar-nav > li > a {
    font-size: 16px !important;
  }
}

.morty-chess-avatar {
  width: 20%;
  background-color: $bootstrap-blue;
  padding: 15px;
  min-width: 90px;
}

.section-header {
  margin-top: 50px;
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 90px;
    }
  }
  .container {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .jumbotron {
    margin-bottom: 50px;
  }
}

.download-icons {
  text-align: center;
  img {
    width: 40%;
    margin: auto;
    background-color: $bootstrap-blue;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  @media screen and (max-width: 768px) {
    .github-icon {
      margin-bottom: 15px !important;
    }
  }

  margin-bottom: 30px;
}

.engine {
  #board {
    width: 50%;
    min-width: 300px;
    @media screen and (max-height: 1000px) {
      max-width: 560px;
    }
    margin: auto;
    .board-b72b1 {
      border-radius: 7px;
    }
  }
  /* white squares */
  .white-1e1d7 {
    background-color: $bootstrap-blue !important;
  }
  /* black squares */
  .black-3c85d {
    background-color: $lighter-blue !important;
  }
  // board control buttons
  .controls {
    text-align: center;
    margin-bottom: 10px;
  }
  // message from engine
  .info-message {
    margin-top: 10px;
    font-size: 21px;
    font-weight: 200;
    @media screen and (max-width: 768px) {
      .text-holder {
        text-align: center;
      }
    }
    .container {
      width: 100%;
    }
    .well {
      @media screen and (min-width: 768px) {
        width: 80%;
        .message-holder {
          vertical-align: middle;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      margin: auto;
      padding: 7px !important;
      .avatar-holder {
        text-align: center;
        img {
          width: 87px;
          padding: 5px;
        }
      }
    }
  }
}

.methodology {
  background-color: $bootstrap-gray;
  margin-top: 50px;
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.about {
  @extend .methodology;
  margin-top: 0px;
}

.download,
.contact {
  padding-top: 50px;
  padding-bottom: 50px;
}
